@model DevFormAz.Models.EditFormVM  

@{
    ViewBag.Title = "EditForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var taglist = "";
}

    <section class="pageWrapperForIndex  mt-3 mb-3">
        <div class="container foreditForm">
            <div class="formBox">
                <form action="/Home/EditForm/@Model.Form.Id" method="Post" enctype="multipart/form-data">
                    <input type="hidden" value="@DateTime.Now" name="formtime" />
                    <div class="formHead mb-2">
                        <input class="form-control " name="name" value="@Model.Form.Name" />
                    </div>
                    <div class="formDesc mb-2">
                        <textarea name="description" class="form-control">@Model.Form.Description</textarea>
                    </div>

                    <div class="formTagList mb-2">
                        @foreach (var tag in Model.TagLists)
                        {
                            taglist += tag.TagName + " ";
                        }
                        <input class="form-control" placeholder="Tag" name="editTag" value="@taglist" />
                        <input type="hidden" name="existTag" value="@taglist"/>
                    </div>

                    <div class="formImg mb-2">
                        <input type="file" style="padding:4px;" class="form-control" name="addImg" value="" multiple />
                        <div class="imgBox mt-2 d-flex justify-content-around flex-wrap">
                            @foreach (var img in Model.Form.FormImages.Where(fid => fid.FormId == Model.Form.Id))
                            {
                                <img class="clickfordelete" width="70" src="~/Public/Images/PostImgs/@img.ImageName" />
                            }
                            <input id="deleteList" type="hidden" name="deleteimg" />
                        </div>
                    </div>
                    <div class="forSubmit mb-2">
                        <input type="submit"  class="btn btn-success" name="editImg" value="Deyish" multiple />
                        <a href="/Home/FormPage" class="btn btn-danger">Legv et</a>
                    </div>

                </form>
            </div>
            

        </div>
    </section>

@section scripts{

    <script>
         var whishDeleteImg = [];
        $(document).on("click", ".clickfordelete", function () {
          
            var clickedImgArr = $(this).attr("src").split("/");
            var removeImg = clickedImgArr[clickedImgArr.length - 1];

            if (!whishDeleteImg.includes(clickedImgArr[clickedImgArr.length - 1]))
            {
                whishDeleteImg.push(clickedImgArr[clickedImgArr.length - 1]);
                $(this).css({"opacity":"0.5"})
            }
            else
            {
                var index = whishDeleteImg.indexOf(removeImg);
                whishDeleteImg.splice(index, 1)
                $(this).css({"opacity":"1"})

            }

            $("#deleteList").val(whishDeleteImg);
        })
    </script>
    
}