@model DevFormAz.Models.FormTagViewModel
@{
    int userId = 0;
    if ((int?)Session["UserId"] != null)
    {
        userId = (int)Session["UserId"];
    }

}
<!-- Main Content -->
<section class="pageWrapperForIndex mt-3 mb-3">
    <div class="container">

        <div id="mainFormContent">
            <div class="row">
                <!-- Left side -->
                <div class="col-md-12 col-lg-2 col-12  col-sm-12">
                    <div class="devNavs">
                        <div class="navs">
                            <ul>
                                <li>
                                    <a href="/Home/TagPage">Taglar</a>
                                </li>
                                <li>
                                    <a href="/Home/UsersInspectPage">İstifadəçilər</a>
                                </li>
                                <li>
                                    <a href="#">Proyektlər</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Main form -->
                <div class="col-md-12 col-lg-8 col-12 col-sm-12">
                    <div class="mainForm">
                        <div class="forms">
                            <div class="postShareSec">
                                @if ((int?)Session["UserId"] != null)
                                {
                                    <button id="formOpenBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Post Paylaş</button>

                                }
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Yeni Post</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="createPost" method="post"  action="/Home/FormPage" enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">Başlıq</label>
                                                        <input type="text" name="name" class="form-control" id="formTitle">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">Mesaj</label>
                                                        <textarea class="form-control" name="description" id="formDesc"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="upload-file" class="col-form-label">Şəkil yüklə</label>
                                                        <input id="imguploadpost" type="file" name="formImg" multiple class="form-control fileinput" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">Tag əlavə et</label>
                                                        <div class="tags-input form-control" data-name="tags-input">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ləğv et</button>
                                                        <button id="sharebtn" type="submit" class="btn btn-primary">Paylaş</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <br>
                            <div class="formlist">
                                @foreach (var item in Model.Forms)
                                {
                                    if (item.isDeleted == false)
                                    {
                                        <div class="postBox">
                                            <div class="postUserInfo">
                                                <div class="boxOfInfo">
                                                    <div class="imageBox">
                                                        @if (item.User.UserDetail.Image != null)
                                                        {
                                                            <img width="60" src="~/Public/Images/UsersFolder/ProfilePic/@item.User.UserDetail.Image" alt="">
                                                        }
                                                        else
                                                        {
                                                            <img width="60" src="~/Public/Images/UsersFolder/ProfilePic/devAvatar.svg" alt="">
                                                        }

                                                    </div>
                                                    <div class="postUserName">
                                                        <p>@item.User.FirstName @item.User.Lastname</p>
                                                        <span>@item.FormTime.ToString("dd.MM.yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postUserContent">
                                                <div class="boxOfContent">
                                                    <div class="posthead">
                                                        <h4>@item.Name</h4>
                                                    </div>
                                                    <div class="postContent">
                                                        <p>@item.Description</p>
                                                    </div>
                                                    <div class="mb-2">
                                                        @foreach (var tag in Model.TagLists.Where(i => i.FormId == item.Id))
                                                        {
                                                            <span class="mr-1 forPostTagsDesign">@tag.TagName</span>
                                                        }
                                                    </div>
                                                    <div class="postreadmore">
                                                        <a href="/Home/FormView/@item.Id">Davamı</a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="postGrades">
                                                <div class="boxOfGrades">
                                                    <div class="viewIcon">
                                                        <i class="far fa-eye"></i>
                                                    </div>
                                                    <div class="viewLikeCount">
                                                        <div class="viewCount">
                                                            <span class="view">@item.FormViewCounts.Count()</span>

                                                        </div>
                                                        <div class="likeCount">
                                                            @item.FormLikes.Count()
                                                        </div>
                                                    </div>
                                                    <div class="LikeBtn">
                                                        @if (userId != 0)
                                                        {
                                                            <span class="Like" data-id="@item.Id">

                                                                @if (item.FormLikes.Any(u => u.UserId == userId && u.FormId == item.Id))
                                                                {
                                                                    <i class="fas fa-thumbs-up likeHeart" style="color:#303F9F;"></i>

                                                                }
                                                                else
                                                                {
                                                                    <i class="far fa-thumbs-up"></i>
                                                                }

                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                <i class="far fa-thumbs-up" title="Bəyənmək üçün sistemə daxil olmalısınız"></i>
                                                            </span>
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }

                                }


                            </div>
                        </div>

                    </div>
                </div>
                <!-- Rightside -->
                <div class="col-md-12 col-lg-2 col-12 col-sm-12">
                    <div class="tagsUsers">
                        <div class="tags">
                            <div class="tagHead">
                                <h5>Populyar taglar</h5>
                                <hr>
                            </div>
                            <div class="taglists">

                                @foreach(var item in Model.TagLists.OrderBy(t => t.TagName).GroupBy(x=>x.TagName).Select(t=>t.FirstOrDefault()).Take(10))
                                {
                                    <a href="#">@item.TagName<span>×@Model.TagLists.Count(t=>t.TagName == item.TagName)</span></a>
                                }
             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Main Content -->
