<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @Styles.Render("~/Content/css")
    <!-- My font -->
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700,800&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="preloader"></div>


    <section id="devformcontent">
        <div id="particle"></div>
        @RenderBody()
        <!-- Main Content -->
    </section>




    <!-- Scripts Section -->
    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", false)
    <!-- End Scripts Section -->
</body>

</html>
